################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/practica_2d_1/FileContentIndex/212b2e56-3644-4dbb-98a7-9fa02b4cb2ff.vsidx
/.vs/practica_2d_1/FileContentIndex/43b38a45-a42e-460c-a1b7-2bb2c480de8d.vsidx
/.vs/practica_2d_1/FileContentIndex/b177c772-9896-4dc9-a800-af2eb0ff457a.vsidx
/.vs/practica_2d_1/FileContentIndex/e984eb22-eda3-4556-b0f6-22e0e81e01b6.vsidx
/.vs/practica_2d_1/FileContentIndex/ed330a62-ee5e-45c2-9ee2-13772b3ad21d.vsidx
